/* ==UserStyle==
@name         dark
@namespace    WFtheme
@version      2.0.1
@description  WorkFlowy style
@homepageURL  https://github.com/hodanli/WFtheme
@updateURL    https://raw.githubusercontent.com/hodanli/WFtheme/main/dark.user.css
@author       hodanli
@preprocessor default

@var color tag_color "Tag Color" #80cce5
@var color tag_background "Tag Background" #80cce542
@var color link_color "Link Color" #e7adec
@var color link_background "Link Background" #e596ec4a
@var color note_color "Note Color" #ec9843
    

==/UserStyle== */
@-moz-document domain("workflowy.com") {
    
    
._1ixna7g .contentLink {
    color: var(--link_color);
    cursor: pointer;
    background: var(--link_background);
}

._1ixna7g .contentTag {
    color: var(--tag_color);
    background: var(--tag_background);
}

._1ixna7g .contentTagText {
    text-decoration: none;
}

._19rvtoi {
    color: var(--note_color);

}

}
