/* ==UserStyle==
@name         light
@namespace    WFtheme
@version      1.3.7
@description  WorkFlowy style
@homepageURL  https://github.com/hodanli/WFtheme
@updateURL    https://raw.githubusercontent.com/hodanli/WFtheme/main/light.user.css
@author       hodanli
@preprocessor default

@var color tag_color "Tag Color" #249183
@var color link_color "Link Color" #2969b3
@var color note_color "Note Color" #c18105
    

==/UserStyle== */
@-moz-document domain("workflowy.com") {

._1ofsw1y .contentTag {
    color: var(--tag_color);
   
}

._1ofsw1y .contentTagText {
    text-decoration: none;
}

._1haod36 {
    color: var(--note_color);
}    
    
    
._tmxjr5 {
    color:  var(--note_color);
}

._1ofsw1y .contentLink {
    color: var(--link_color);
    text-decoration: none;
    cursor: pointer;
}
}
