/* ==UserStyle==
@name         light
@namespace    WFtheme
@version      1.2.5
@description  WorkFlowy style
@homepageURL  https://github.com/hodanli/WFtheme
@updateURL    https://raw.githubusercontent.com/hodanli/WFtheme/main/light.user.css
@author       hodanli
@preprocessor default

@var color tag_color "Tag Color" #2a9d8f
    

==/UserStyle== */
@-moz-document domain("workflowy.com") {

._1ofsw1y .contentTag {
    color: var(--tag_color);
   
}

._1ofsw1y .contentTagText {
    text-decoration: none;
}

._tmxjr5 {
    color:  rgb(161, 5, 166);
}

._1ofsw1y .contentLink {
    color: rgb(27, 166, 5);
    text-decoration: none;
    cursor: pointer;
}
}
